@model RestaurantManager.Models.User

@{
    ViewData["Title"] = "Usuń pracownika";
}

<h1>Usuń</h1>

<h3>Czy na pewno chcesz usunąć tego pracownika?</h3>
<h4 class="text-danger">Spowoduje to usunięcie zarówno profilu pracownika, jak i jego konta użytkownika.</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nazwa użytkownika
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            Imię i nazwisko
        </dt>
        <dd class="col-sm-10">
            @if (Model.Employee != null)
            {
                @Html.DisplayFor(model => model.Employee.FullName)
            }
            else
            {
                <span>-</span>
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
    </form>
</div>