@model RestaurantManager.Models.ScheduleTemplate

@{
    ViewData["Title"] = "Utwórz Szablon Grafiku";
}

<h1>@ViewData["Title"]</h1>
<p>Najpierw nadaj nazwę szablonowi. Wymagane zmiany dodasz w następnym kroku.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Utwórz i przejdź do edycji zmian" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}